@import '../../assets/scss/variables.scss';

.containerDropDown {
  z-index: 2;
  width: 500%;
  height: auto;
  background: $primaryLight;
  border-radius: 12px;
  position: absolute;
  right: -200%;
  top: 200%;

  p {
    padding: 5%;
    cursor: pointer;
  }

  div {
    cursor: pointer;
  }
}
.containerDropDown::after {
  content: '';
  display: block;
  background: transparent;
  position: absolute;
  top: -50%;
  right: 35%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid $primaryLight;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */
/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */
/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */

@media screen and (max-width: 950px) {
  .containerDropDown {
    z-index: 2;
    width: 35vw;
    padding: 10% 10%;
    background: #d0ded1;
    border-radius: 12px;
    position: absolute;
    top: 7vh;
    right: -4vw;
    font-size: 1.2rem;

    p {
      padding: 2%;
      cursor: pointer;
    }

    div {
      cursor: pointer;
    }
  }
  .containerDropDown::after {
    content: '';
    display: block;
    background: transparent;
    position: absolute;
    bottom: 11vh;
    right: 5vw;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #d0ded1;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
  }
}

@media screen and (max-width: 550px) {
  .containerDropDown {
    z-index: 2;
    width: 35vw;
    padding: 10% 10%;
    background: #d0ded1;
    border-radius: 12px;
    position: absolute;
    top: 7vh;
    right: -4vw;
    font-size: 1.2rem;

    p {
      padding: 2%;
      cursor: pointer;
    }

    div {
      cursor: pointer;
    }
  }
  .containerDropDown::after {
    content: '';
    display: block;
    background: transparent;
    position: absolute;
    bottom: 12vh;
    right: 1vw;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #d0ded1;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
  }
}

@media screen and (max-width: 290px) {
  .containerDropDown {
    z-index: 2;
    width: 55vw;
    padding: 10% 10%;
    background: $primaryLight;
    border-radius: 12px;
    position: absolute;
    top: 9vh;
    right: -10vw;
    font-size: 1.2rem;
    p {
      padding: 2%;
      cursor: pointer;
    }

    div {
      cursor: pointer;
    }
  }
  .containerDropDown::after {
    content: '';
    display: block;
    background: transparent;
    position: absolute;
    top: -55%;
    right: 7vw;
    border-top: 20px solid transparent;
    border-bottom: 20px solid $primaryLight;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
  }
}

@media screen and (orientation: landscape) and (max-width: 950px) {
  .containerDropDown {
    top: 15vh;
    right: 0;
  }
}
