@import '../../assets/scss/variables.scss';

.button {
  background-color: $primary;
  display: flex;
  align-items: center;
  height: 4vh;
  border: none;
  justify-content: center;
  border-radius: 25px;
  padding: 22px;
  transition: all 0.3s;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background-color: $primaryDark;

    span {
      color: white;
    }
  }

  span {
    color: white;
    font-weight: 500;
    font-size: 14px;
  }
}

.hidden-true {
  display: none;
}

.button-loading-true {
  &:hover {
    cursor: default;
  }

  img {
    margin-top: unset;
  }
}

.button-disabled-true {
  background-color: #e9e9f9;

  &:hover {
    cursor: default;
    background-color: #e9e9f9;

    span {
      color: #d5d5ea;
    }
  }

  span {
    color: #d5d5ea;
  }

  .basicSpinner {
    margin-top: unset !important;
  }
}

.secondary-button-true {
  background-color: $orange;

  &:hover {
    background-color: $orangeDark;
  }
}

.rounder-true {
  border-radius: 25px;
}

@media screen and (max-width: 950px) {
  .button {
    font-size: 1.5rem;
  }
}

.button-outlined-true {
  background-color: transparent;
  border: 2px solid $primary;

  &:hover {
    cursor: pointer;
    background-color: $primary;
  }

  span {
    font-weight: 600;
    color: $primary;

    &:hover {
      color: white;
    }
  }
}
