.ContainerLogo {
  display: flex;
  align-items: center;
  /* width: 25%; */

  img {
    width: 95px;
  }

  span {
    font-weight: 500;
    /* margin-left: -5%; */
    color: #629a48;
    font-size: 30px;
    font-family: "MonumentExtended";
    /* padding-bottom: 0.5vw; */
  }
}

@media screen and (max-width: 950px) {
  .ContainerLogo {
    display: flex;

    /* margin-top: 5vw;
    margin-bottom: 10%; */
    img {
      padding-top: 0;
      width: 80%;
      max-width: 95px;
    }

    span {
      font-size: 30px;
      /* padding-left: 0;
      padding-top: 1vw; */
    }
  }
}

@media screen and (max-width: 520px) {
  .ContainerLogo {
    /* width: 50%;
    margin-left: 10vw; */
    display: flex;
    justify-content: center;
    /* margin-top: 5vw;
    margin-bottom: 10%; */
    img {
      padding-top: 0;
      width: 80%;
      max-width: 95px;
    }

    span {
      font-size: 30px;
      /* padding-left: 0;
      padding-top: 1vw; */
    }
  }
}
