@import "../../assets/scss/variables.scss";

.containerAllRights {
  background: #eeeefe;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: #3c6132;
    font-weight: 500;
    font-size: 107%;
    width: 45vw;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .containerAllRights {
    h2 {
      font-size: 4.2vw;
      width: 85vw;
    }
  }
}
