@import "../../assets/scss/variables.scss";

.containerNewComingSoon {
  height: 100%;

  .containerPrincipalInfo {
    background-image: url("../../assets/ilustrations/newComingSoon/topBackground.svg");
    background-position: 100% 5%;
    height: 70vh;
    position: relative;

    .containerTapWatch {
      padding-top: 10%;
      flex-direction: column;
      .button {
        padding: 0 10%;
        z-index: 3;
      }
      .buttonClose {
        margin-bottom: 10%;
      }
    }
  }

  .containerText {
    width: 60%;
    margin: auto;
    text-align: center;
    h1 {
      font-size: 3rem;
      font-weight: 800;

      line-height: 56px;
      text-align: center;
      color: $primaryDark;
    }

    h5 {
      font-style: normal;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 28px;
      text-align: center;
      color: $primaryDark;

      span {
        font-weight: 700;
        margin-left: 2%;
      }
    }

    .containerSocialMedia {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .containerIconsSocialMedia {
        margin-right: 1%;
        justify-content: center;
      }
    }
  }

  .containerText.Start {
    text-align: start;
    width: 70%;
    h5 {
      width: 80%;
      padding: 0.5% 0;
    }
    * {
      text-align: start;
    }
  }

  .containerBoxYoutube {
    width: 51%;
    margin: auto;
  }
  .containerVideoYoutube {
    padding-top: 2%;

    display: flex;
    width: 50%;
    z-index: 2;
    height: 30%;
    margin: auto;
    justify-content: center;

    #videoYoutube {
      border-radius: 32px;

      z-index: 5;
      video {
        border-radius: 25px;

        box-shadow: 54px 80px 120px rgba(75, 78, 252, 0.15);
      }
    }
  }

  #BoxYoutube {
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  #videoYoutube {
    z-index: 5;
    position: absolute;
    margin: auto;
  }
  #TrazoBackground {
    position: absolute;
    bottom: -12%;
    width: 150%;

    margin: auto;
    left: -25%;
  }

  .containerCoins {
    img {
      position: absolute;
    }

    .coin1 {
      margin-top: 2%;
      right: 22%;
      animation: float3 5s ease-in-out infinite;
    }

    .coin2 {
      right: 10%;
      margin-top: 12%;
      animation: float3 3s ease-in-out infinite;
    }

    .coin3 {
      left: 15%;
      width: 5%;
      bottom: 0%;
      z-index: 3;
      animation: float3 7s ease-in-out infinite;
    }
  }

  .BackgroundTwo {
    background-image: url("../../assets/ilustrations/newComingSoon/tokenomicsBackground.svg");
  }
  .containerTokenomics {
    min-height: 70vh;

    padding-top: 13%;
    padding-bottom: 5%;
    height: 100%;

    .tokenomics {
      width: 70%;
      margin: auto;
      .containerItemsTokenomics {
        .animated {
          margin-right: 5%;
        }
        .ItemTokenomic {
          min-width: 20vw;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 5% 2%;

          min-height: 120px;
          background: #ffffff;
          box-shadow: 0px 4px 120px rgba(75, 78, 252, 0.15);
          border-radius: 32px;
          flex: none;
          order: 2;
          flex-grow: 1;
          transition: 0.5s;

          h4 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 1rem;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #629a48;
            text-align: center;
            width: 100%;
            span {
              padding-left: 5%;
            }
          }
        }
        .ItemTokenomic:hover {
          background: #629a48;
          box-shadow: 0px 4px 120px rgba(75, 78, 252, 0.15);
          border-radius: 32px;
          h4 {
            color: #ffffff;
          }
        }

        .container {
          width: 40%;
        }
      }
    }

    /* ------------CONTAINER TOTAL FMONEY SUPPLY------------ */
    /* ------------CONTAINER TOTAL FMONEY SUPPLY------------ */

    .containerTotalFmoneySupply {
      padding-top: 2%;
      width: 50%;
      margin: auto;
      text-align: center;
      --animate-duration: 1.5s;
      h5 {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 28px;
        text-align: center;
        font-feature-settings: "salt" on;
        color: #3c6132;
      }
      h2 {
        margin-top: 1.5%;
        font-family: "MonumentExtended";
        font-style: normal;
        font-weight: 400;
        font-size: 2.3rem;
        line-height: 100%;
        text-align: center;
        color: #629a48;
      }
    }

    .checkWhitepaper {
      width: 100%;
      padding-top: 2%;
      --animate-duration: 2.2s;
      .button {
        margin-right: 3%;
        padding: 0.5% 30%;
        font-weight: 700 !important;
      }
      h5 {
        font-weight: 500;
        font-size: 1rem;
        line-height: 23px;
        display: flex;
        align-items: center;
        font-feature-settings: "salt" on;
        color: #3c6132;
        margin: 10%;
        white-space: nowrap;
      }
      img {
        margin-right: 5%;
      }
      .textAddress {
        margin-left: 10%;

        h5 {
          span {
            margin-left: 5%;
            text-shadow: 0px 0px 15px rgba(0, 134, 3, 0.91);
          }
        }
      }
    }
  }

  /* ------------CONTAINER DEVELOPERS------------ */
  /* ------------CONTAINER DEVELOPERS------------ */

  .containerDevelopers {
    padding: 0% 0% 5% 0%;
    width: 100%;

    .containerCoin {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      margin: 2% 1.5%;

      &:hover {
        .coin {
          z-index: -1;
          transform: scale(1.1);
        }
      }

      .coin {
        width: 100%;
        transition: 0.3s;
      }

      .coinFullColor {
        cursor: pointer;
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        transition: 0.3s;
      }
      span {
        font-weight: 500;
        font-size: 1rem;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-align: center;
        font-feature-settings: "salt" on;
        color: #c1c1c1;
        margin: 5% 0;
      }
    }
    h5 {
      padding-bottom: 2%;
    }
  }

  /* ------------CONTAINER COMUNITY------------ */
  /* ------------CONTAINER COMUNITY------------ */

  .containerComunity {
    padding-bottom: 5%;
    .containerButton {
      width: 35%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .button {
        padding: 0 3%;
      }

      .iconLeft {
        margin-right: 10%;

        img {
          width: 100%;
        }
      }
    }
    .containerText {
      width: 60%;
      .textComunity {
        width: 100%;
        h5 {
          font-size: 1rem;
          text-align: start;
          width: 100%;
        }
      }
    }
  }
}

/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */
/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */
/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */

@media screen and (max-width: 920px) {
  .containerNewComingSoon {
    overflow-x: hidden;
    #BoxYoutube {
      z-index: 5;
      position: relative;
      width: 100%;
    }
    #TrazoBackground {
      width: 200%;

      left: auto;
      bottom: -15%;
      position: absolute;
    }
    .containerComunity {
      padding-bottom: 15%;

      .containerText {
        .textComunity {
          h5 {
            text-align: center;
          }
        }
      }
    }

    .containerPrincipalInfo {
      height: 100%;

      .containerSocialMedia {
        .followus {
          padding-bottom: 5%;
        }
      }
    }

    .containerText {
      width: 80%;
      text-align: center;

      h1 {
        font-size: 2rem;
      }
    }

    .containerText.Start {
      width: 90%;
      margin: auto;
      h5 {
        width: 90%;
        margin: auto;
        padding: 0 0;
      }
      * {
        text-align: center;
      }
    }

    /* -------CONTAINER TOKENOMICS------- */
    .containerTokenomics {
      padding-top: 2%;

      .MobileViewSocialMedia {
        padding-bottom: 7%;
        padding-top: 15%;
      }
      .tokenomics {
        width: 85%;
        .containerItemsTokenomics {
          flex-direction: column;
          .ItemTokenomic {
            width: 100%;
            min-width: 70vw;
          }
        }
      }

      .checkWhitepaper {
        .button {
          padding: 0.5% 13%;
          margin-top: 5%;
        }
      }

      .containerTotalFmoneySupply {
        margin-top: 10%;
        width: 90%;
        h2 {
          font-size: 2rem;
          padding: 3%;
        }
      }
    }

    /* -------CONTAINER DEVELOPERS------- */
    .containerDevelopers {
      margin-top: 20%;
      .containerAllDevelopers {
        margin-top: 10%;
        flex-wrap: wrap;
        flex-direction: row;

        .animated {
          margin-right: 5% !important;
        }
      }
      .containerCoin {
        margin-right: 5% !important;
        .coin,
        .coinFullColor {
          display: none;
        }
      }
    }

    /* -------CONTAINER COMUNITY------- */
    .containerComunity {
      .containerButton {
        width: 100%;
        padding: 2% 0;
        .button {
          margin-top: 5%;
          width: 100%;

          .iconLeft {
            margin-left: 0;
          }
        }
      }
    }
  }

  .containerCoins {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .containerNewComingSoon {
    #TrazoBackground {
      width: 200%;

      left: auto;
      bottom: -10%;
      position: absolute;
    }
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .containerNewComingSoon {
    overflow-x: hidden;
    #TrazoBackground {
      z-index: -1;
    }

    .containerPrincipalInfo {
      .containerTapWatch {
        padding-top: 2%;
        .button {
          padding: 3% 10%;
        }
      }
    }

    .containerTokenomics {
      .checkWhitepaper {
        .button {
          padding: 2% 10%;
        }
      }
    }

    .containerComunity {
      .containerButton {
        .button {
          padding: 3% 10%;
        }
      }
    }
  }
}

@media only screen and (max-height: 1200px) and (orientation: landscape) {
  .containerNewComingSoon {
    overflow-x: hidden;
  }
}
