@import '../../assets/scss/variables.scss';

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 5000;
  background: white;

  img {
    width: 8vw;
  }
  @media screen and (max-width: 500px) {
    img {
      width: 40vw;
    }
  }
}
