@import "../../assets/scss/variables.scss";

.landingScreenBackground {
  width: 100vw;
  z-index: -5;
  max-height: 100.7vh;
  position: absolute;
}
.landingScreenBackgroundComingSoon {
  height: 100vh !important;
}

.landingScreenBackgroundMobile {
  display: none;
}

.starsContainer {
  display: none;
}

.containerComingSoon {
  position: absolute;
  width: 100vw;
  min-height: 100vh;

  .fullheight {
    height: 88vh;
    position: absolute;
    width: 100vw;
    overflow: hidden;
    bottom: 0%;

    .lottie {
      height: 120vh;
      position: absolute;
      z-index: -4;
      top: -30vh;
      width: 200vw;
      right: -50vw;
    }
  }

  .welcomeText {
    display: flex;

    align-items: center;
    grid-template-columns: 45% auto;
    justify-content: center;
    align-content: center;
    text-align: center;

    .containerImg {
      text-align: center;
      padding-top: 4vh;
      img {
        width: 65%;
      }
    }

    .containerText {
      h4 {
        color: $primaryDark;
        font-weight: 700;
        font-size: 1rem;
      }
      h1 {
        color: $primaryDark;
        margin-top: 0.2vw;
        font-size: 4vw;
        font-style: normal;
        font-family: Raleway;
        font-weight: 800;
      }

      h5 {
        color: $primaryDark;
        font-weight: 500;
        font-size: 1.2rem;
        margin-top: 1vw;
        width: 45vw;
        font-family: Raleway;
        font-weight: 500;
        font-style: normal;
        line-height: 28px;
      }

      .containerItemNextDraw {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 3.5vw 0 1.5vw;

        span {
          margin: 0 0.5vw;
          font-weight: 900;
          text-align: center;
          color: #3c6132;
        }

        div {
          font-family: "MonumentExtended";
          border: 1px solid #629a48;
          border-radius: 5px;
          font-weight: 700;
          padding: 0.3vw;
          width: 3vw;
          text-align: center;
          color: #3c6132;
        }
      }
    }
  }

  .starsContainer {
    background-color: red;

    img {
      position: absolute;
    }

    .star1 {
      right: -4.8%;
      bottom: -48.4%;
      width: 50.6vw;
      transform: rotate(15deg);
      animation: float3 6s ease-in-out infinite;
    }

    .star2 {
      top: 51.7%;
      width: 12vw;
      left: 11.6%;
      animation: float3 6s ease-in-out infinite;
    }

    .star3 {
      animation: float5 6s ease-in-out infinite;

      top: 49.7%;
      width: 19vw;
      left: 23.2%;
    }

    .star4 {
      width: 14.2vw;
      left: 40.6%;
      bottom: -7%;
      animation: float3 6s ease-in-out infinite;
    }

    .star5 {
      bottom: -10%;
      width: 20vw;
      left: 1%;
      animation: float5 6s ease-in-out infinite;
    }
  }
}

.containerSocialMedia {
  margin-top: 7%;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */
/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */
/*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */ /*---- MEDIA QUERY---- */

@media screen and (max-width: 920px) {
  .containerSocialMedia {
    margin-top: 0%;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .starsContainer {
    display: block;
  }
  .landingScreenBackgroundComingSoon {
    display: none;
  }
  .landingScreenBackgroundMobile {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  .containerComingSoon {
    width: 100vw;
    overflow-x: hidden;

    .fullheight {
      width: 100vw;
      height: 90vh;

      .lottie {
        display: none;
      }
    }

    .starsContainer {
      z-index: -2;
      .star1 {
        bottom: 1%;
        width: 40vw;
        left: -10%;
      }

      .star2 {
        top: 59%;
        width: 12vw;
        left: 15%;
      }

      .star3 {
        left: 36%;
        width: 29vw;
        top: 77%;
        z-index: 0;
      }

      .star4 {
        width: 15vw;
        left: 76%;
        top: 55%;
        z-index: 0;
      }

      .star5 {
        width: 48vw;
        left: 70%;
        top: 69%;
      }
      .star6 {
        width: 18vw;
        left: 50%;
        top: 65%;
      }
    }

    .welcomeText {
      grid-template-columns: 100%;
      margin-top: -1vh;

      .containerText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 8vh;

        h4 {
          font-size: 4vw;
        }

        h1 {
          margin-top: 3vw;
          text-align: center;
          font-size: 7vw;
        }

        h5 {
          font-size: 1.5rem;
          width: 90vw;
          text-align: center;
          margin-top: 3vw;
        }

        .followus {
          margin-top: 8vh;
        }

        .containerItemNextDraw {
          div {
            font-size: 5vw;
            width: 15vw;
            padding: 2vw;
          }

          span {
            margin: 0 3vw;

            font-size: 6vw;
          }
        }
      }

      .containerImg {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .containerSocialMedia {
    margin-top: 0%;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .starsContainer {
    display: block;
  }
  .landingScreenBackgroundComingSoon {
    display: none;
  }
  .landingScreenBackgroundMobile {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  .containerComingSoon {
    width: 100vw;
    overflow-x: hidden;

    .fullheight {
      width: 100vw;
      height: 88vh;

      .lottie {
        display: none;
      }
    }

    .starsContainer {
      z-index: -5;
      .star1 {
        width: 20vw;
        bottom: 30%;
        left: 70%;
      }

      .star2 {
        width: 35vw;
        top: 72%;
        left: 5%;
      }

      .star3 {
        width: 15vw;
        left: 45%;
        top: 74%;
        z-index: 0;
      }

      .star4 {
        width: 7vh;
        left: 7%;
        top: 60%;
      }

      .star5 {
        width: 60%;
        left: 55%;
        top: 70%;
      }
      .star6 {
        width: 10vh;
        left: 35%;
        top: 62%;
      }
    }

    .welcomeText {
      grid-template-columns: 100%;
      margin-top: -1vh;

      .containerText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 8vh;

        h4 {
          font-size: 4vw;
        }

        h1 {
          margin-top: 3vw;
          text-align: center;
          font-size: 9vw;
        }

        h5 {
          font-size: 5vw;
          width: 90vw;
          text-align: center;
          margin-top: 3vw;
          margin-bottom: 4vw;
          line-height: 24px;
        }

        .followus {
          margin-top: 5vh;
        }

        .containerItemNextDraw {
          div {
            font-size: 5vw;
            width: 15vw;
            padding: 2vw;
          }

          span {
            margin: 0 3vw;
            font-size: 6vw;
          }
        }
      }

      .containerImg {
        display: none;
      }
    }
  }
  .containerSocialMedia {
    margin: 0;
    margin-top: 0%;

    z-index: 1;
  }
}

@media screen and (max-width: 400px) and (min-height: 1000px) {
  .starsContainer {
    display: block;
  }
  .landingScreenBackgroundComingSoon {
    display: none;
  }
  .landingScreenBackgroundMobile {
    display: block;
    width: 100vw;
    height: 125%;
    position: absolute;
  }

  .containerComingSoon {
    width: 100vw;
    overflow-x: hidden;

    .fullheight {
      width: 100vw;
      height: 103vh;

      .lottie {
        display: none;
      }
    }

    .starsContainer {
      z-index: -2;
      .star1 {
        bottom: 0%;
        width: 80vw;
        right: -19%;
      }

      .star2 {
        top: 53%;
        width: 41vw;
        left: 21%;
      }

      .star3 {
        left: 1%;
        width: 29vw;
        top: 63%;
        z-index: 0;
      }

      .star4 {
        width: 35vw;
        left: 56%;
        top: 52%;
      }

      .star5 {
        width: 58vw;
        left: 55%;
        top: 85%;
      }
    }

    .welcomeText {
      grid-template-columns: 100%;
      margin-top: -1vh;

      .containerText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 8vh;

        h4 {
          font-size: 4vw;
        }

        h1 {
          margin-top: 3vw;
          text-align: center;
          font-size: 9vw;
        }

        h5 {
          font-size: 1.3rem;
          width: 90vw;
          text-align: center;
          margin-top: 3vw;
          margin-bottom: 4vw;
          line-height: 24px;
        }

        .followus {
          margin-top: 8vh;
        }

        .containerItemNextDraw {
          div {
            font-size: 5vw;
            width: 15vw;
            padding: 2vw;
          }

          span {
            margin: 0 3vw;
            font-size: 6vw;
          }
        }
      }

      .containerImg {
        display: none;
      }
    }
  }
  .containerSocialMedia {
    margin: 0;
    margin-top: 0%;
    z-index: 1;
  }
}

@media screen and (orientation: landscape) and (max-width: 950px) {
  .containerComingSoon {
    width: 100vw;
    height: 225%;

    .fullheight {
      height: 80%;
    }

    .welcomeText {
      margin-top: 5vh;
      .containerText {
        h1 {
          font-size: 6vw;
        }
        h5 {
          line-height: 230%;
        }
        .followus {
          margin-top: 7vh;
        }
      }
    }
    .starsContainer {
      .star1 {
        bottom: 5%;
        width: 20vw;
        left: -5%;
      }
      .star2 {
        top: 85%;
        left: 17%;
      }
      .star3 {
        top: 82%;
      }
      .star4 {
        top: 70%;
        left: 90%;
      }
      .star5 {
        top: 80%;
      }
      .star6 {
        display: none;
      }
    }
  }

  .landingScreenBackgroundMobile {
    height: 225%;
  }
}

@media screen and (orientation: landscape) and (max-width: 950px) and (max-height: 300px) {
  .containerComingSoon {
    width: 100vw;
    height: 300%;

    .fullheight {
      height: 80%;
    }

    .welcomeText {
      margin-top: 5vh;
      .containerText {
        h1 {
          font-size: 6vw;
        }
        h5 {
          line-height: 230%;
        }
        .followus {
          margin-top: 7vh;
        }
      }
    }
    .starsContainer {
      .star1 {
        bottom: 5%;
        width: 20vw;
        left: -5%;
      }
      .star2 {
        top: 85%;
        left: 17%;
      }
      .star3 {
        top: 82%;
      }
      .star4 {
        top: 70%;
        left: 90%;
      }
      .star5 {
        top: 80%;
      }
      .star6 {
        display: none;
      }
    }
  }

  .landingScreenBackgroundMobile {
    height: 300%;
  }
}
