@import "../../assets/scss/variables.scss";
.containerRafflePoint {
  background: #d7e5d1;
  width: fit-content;
  margin: auto;
  padding: 1vw;
  border-radius: 14px;
  font-weight: 600;
  font-family: "MonumentExtended";
  color: $primary;
}
