.containerIconsSocialMedia {
  display: flex;
  margin-top: 1vw;
  z-index: 3;
  justify-content: center;
  div {
    margin: 0px 2vw;
    img {
      width: 140%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .containerIconsSocialMedia {
    margin-right: 5%;
    justify-content: center;
    div {
      margin: 0px 4.5vw;
      img {
        width: 160%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
