/* ESTILOS GENERAL */
.containerPopper {
  position: absolute;
  padding: 0% 2%;
  border-radius: 25px;
  background: #629a48;
  font-size: 0.7rem;
  transition: 1s;
  margin-left: 5%;
  margin-bottom: 6%;
  z-index: 1;
  h5 {
    font-size: 14px;
    color: white !important;
    font-family: "Raleway" !important;
    padding-right: 5%;
  }
  img {
    width: 100%;
  }
}

/* ESTILOS PARA MODAL */
.containerPopper.walletModal {
  position: absolute;
  padding: 2% 5%;
  border-radius: 25px;
  background: #629a48;
  font-size: 0.7rem;
  /* top: 10vh; */
  right: 50%;
  transition: 0.3 s;
  top: 0px;
  margin-top: 0px;
  h5 {
    font-size: 14px;
    color: white !important;
    font-family: "Raleway" !important;
  }
}

.containerPopper::after {
  content: "";
  margin-left: 20%;
  display: block;
  background: transparent;
  position: absolute;
  top: 100%;
  border-top: 12px solid #629a48;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

@media screen and (max-width: 900px) {
  /* ESTILOS GENERAL */
  .containerPopper {
    position: absolute;
    padding: 0.5% 2%;
    border-radius: 25px;
    color: black;
    background-color: #629a48;
    font-size: 0.7rem;
    top: 45%;
    transition: 1s;
  }
}

@media screen and (max-width: 500px) {
  /* ESTILOS GENERAL */
  .containerPopper {
    position: absolute;
    padding: 0.5% 2%;
    border-radius: 25px;
    color: black;
    background-color: #629a48;
    font-size: 0.7rem;
    top: 0px;
    transition: 1s;
    padding: 0 5%;
    margin-top: 0px;
    img {
      display: none;
    }
  }
}
